doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title .:TKPPL:.

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body 

    article
      
      section
        h1 <marquee>Be My Eyes</marquee>
    
      section 
        h2 Apa itu Be My Eyes?
        <img style="width: 640px;" alt="Be My Eyes" src="images/3.png">
      

      section
        p1 Be My Eyes adalah aplikasi mobile GRATIS yang dirancang untuk memberi penglihatan kepada orang yang mengalami gangguan penglihatan dan orang yang buta. Dengan menekan sebuah tombol, aplikasi ini membuat koneksi video langsung antara pengguna (relawan dan penderita gangguan penglihatan). Setiap hari, relawan berbagi penglihatan mereka untuk membantu baik besar maupun kecil dalam kehidupan yang mengalami gangguan penglihatan dan orang yang buta.Lebih dari setengah juta pengguna di 150 negara, Be My Eyes telah berkembang menjadi komunitas online terbesar bagi tuna netra. Aplikasi ini memanfaatkan teknologi dan koneksi manusia untuk membantu orang tuna netra dalam menjalani kehidupan yang lebih mandiri.

      section
        h2 Bagaimana cara kerjanya?
        
      section
        p1 Cukup mudah. Saat Anda masuk ke aplikasi, layar utama menampilkan tombol yang bertuliskan  “connect to first available volunteers.” Jika Anda memerlukan bantuan visual dengan sesuatu, cukup ketuk tombol ini. Be My Eyes akan memanggil sukarelawan yang terlihat (berbicara dengan bahasa Anda) dan membuat koneksi video antara Anda berdua - menggunakan kamera ponsel Anda (terletak di sudut kanan atas sisi non-layar telepon Anda) dan mikrofon para peserta. Relawan yang terlihat akan menjelaskan hal-hal yang mengarahkan ke kamera Anda. Relawan dipanggil secara acak, dan teknologi ini sesuai dengan bahasa dan zona waktu, jadi Anda tidak perlu khawatir mengganggu siapa pun.
        
       section
        p1 Dari perspektif relawan yang terlihat, mereka menerima pemberitahuan di ponsel cerdas mereka bahwa pengguna Be My Eyes mencari bantuan. Jika mereka memilih untuk menerima panggilan tersebut, koneksi video langsung dibuat antara kedua belah pihak.Jika sukarelawan tidak dapat menjawab panggilan, orang lain akan masuk karena panggilan tersebut diteruskan secara otomatis ke sukarelawan lain sampai dijawab. Sebagian besar panggilan dijawab dalam waktu 60 detik. Karena ukuran jaringan sukarelawan Be My Eyes yang menakjubkan dan teknologi pencocokan yang canggih, aplikasinya

      section
        h2 Seberapa banyak saya bisa menggunakan Be My Eyes?
       
      sectiton
        p1 Tidak ada batasan untuk menggunakannya ...
        
      section
        p1 Saat ini ada lebih dari setengah juta sukarelawan yang terlihat di komunitas Be My Eyes yang siap dan bersedia membantu Anda. Kami ingin menekankan bahwa Anda dapat, dan seharusnya, merasa bebas untuk melakukan panggilan sesering yang Anda inginkan tanpa pernah mearasa bahwa anda mengganggu orang lain. Sebenarnya, kami memiliki banyak sukarelawan yang masih menunggu untuk menerima permintaan pertolongan pertama mereka. Semua ini adalah untuk mengatakan - Anda pasti dapat menggunakan Be My Eyes sebanyak mungkin Anda inginkan!
 
      section
        h2.bullet Apakah Be My Eyes gratis?
        br
        ul
          li Iya. Tidak ada batasan seberapa banyak anda menggunakannya, karena aplikasi ini tidak membatasi penggunanya

      section
        h2.bullet Hal apa saja yang dapat dibantu oleh Relawan?
        br
        ul
          li Ada banyak situasi di mana sepasang mata ramah (relawan) dapat membantu orang-orang dengan gangguan penglihatan, dan Be My Eyes digunakan untuk menyelesaikan berbagai tugas sehari-hari.

      section
        p1.bullet Berikut ini contoh hal yang biasa dilakukan relawan untuk membantu tunanetra :
        br
        ul 
          li Menemukan item yang hilang
          li Menggambarkan gambar, lukisan atau karya seni lainnya
          li Mencocokkan atau menjelaskan warna
          li Membaca label pada produk rumah tangga
          li Membaca di layar komputer jika situs web tidak dapat diakses atau pembaca layar tidak tersedia
          li Berbelanja di supermarket
          li Mengidentifikasi tanggal kadaluwarsa paket makanan yang mudah rusak

      section
        br
        ul
          li Membiasakan diri Anda dengan lokasi baru
          li Membedakan antara produk (makanan kaleng, shampo dan sabun, rempah-rempah dll.)
          li Menentukan apakah lampu dinyalakan atau dimatikan
          li Mencari tahu saat angkutan umum (bus, kereta api, dll.) Berangkat atau tiba
          li Menyelesaikan masalah listrik atau teknis
          br
          br
          li Saat ini ada lebih dari setengah juta sukarelawan yang terlihat di komunitas Be My Eyes yang siap dan bersedia membantu Anda.

      section
        h2 Dalam keadaan apa saya TIDAK memakai Be My Eyes?

      section
        p1 Harap diingat bahwa pembantu yang terlihat senang di jaringan Be My Eyes adalah sukarelawan, dan kami tidak dapat menjamin kualitas bantuan mereka atau bertanggung jawab atas tindakan mereka. Anda tidak boleh menampilkan barang-barang yang berisi informasi pribadi seperti kartu kredit, paspor, amplop yang mencantumkan alamat Anda, dan lain-lain. Harap jangan gunakan Be My Eyes dalam situasi yang dapat menyebabkan bahaya bagi diri Anda atau orang lain. 

      section
        h2.bullet Berikut adalah situasi dimana Be My Eyes tidak boleh digunakan:
        br
        ul
          li Mengidentifikasi kartu kredit
          li Mengidentifikasi surat yang menampilkan alamat pribadi Anda
          li Mengidentifikasi apa pun di paspor Anda
          li Apa pun yang melibatkan nomor jaminan sosial, informasi bank, asuransi dll.

      section
          h2 Berapa lama waktu yang dibutuhkan untuk mendapatkan bantuan?

      section
          p1 Karena jaringan relawan dan teknologi pencocokan unik kami, kami sekarang dapat mencocokkan lebih dari 90% panggilan dalam waktu 60 detik. Jika permintaan Anda tidak dijawab dalam waktu 2 menit, maka sebaiknya anda coba panggil lagi.

      section
          h2 Apakah ada batasan panjang panggilan saya?

      section
          p1 Tidak ada batasan berapa lama bisa menelepon, tapi itu adalah isyarat bagus untuk memberi tahu sukarelawan jika Anda memiliki tugas yang menurut Anda mungkin memerlukan waktu lama. Sebagian besar sukarelawan bersedia untuk mengakomodasi permintaan apapun, namun saat menjalani kehidupan sehari-hari mereka, tidak ada salahnya untuk bertanya. Ingat bahwa Anda selalu dapat menghubungi sukarelawan lain untuk membantu menyelesaikan masalah jika pertandingan pertama Anda harus dilakukan.

      section
          h2 Akankah sukarelawan mengetahui nama atau informasi pribadi saya?

      section
          p1 Be My Eyes dirancang untuk menjadi anonim, jadi relawan tidak akan pernah diberi nomor telepon, nama, alamat, email, lokasi atau informasi pribadi lainnya. Relawan hanya akan menerima pemberitahuan push bahwa pengguna Be My Eyes mencari pertolongan, dan akan menerima telepon jika tersedia. Anda dapat memilih untuk memperkenalkan diri dengan nama depan Anda, tapi sepenuhnya terserah Anda dan apa yang Anda sukai.

      section
          h2 Apakah relawan akan berbicara dalam bahasa saya?

      section
          p1 Ya, Be My Eyes menghubungkan Anda dengan relawan berdasarkan bahasa yang diatur oleh telepon Anda. Jika telepon Anda diatur ke bahasa Inggris, maka kami hanya akan menghubungkan Anda ke relawan berbahasa Inggris. Jika telepon Anda diatur ke bahasa Spanyol, maka kami hanya akan menghubungkan Anda ke relawan berbahasa Spanyol - dan seterusnya. Be My Eyes sekarang tersedia di lebih dari 90 bahasa yang berbeda. Jika Anda berbicara lebih dari satu bahasa, Anda dapat menambahkan bahasa tambahan ke telepon Anda di bawah "Settings".

      section
          h2 Dapatkah saya meminta bantuan di tengah malam?

      section
          p1 Anda dapat meminta bantuan 24 jam. Kami akan mencocokkan berdasarkan bahasa dan zona waktu - berarti kami hanya menghubungi relawan selama jam kerja siang mereka. Misalnya, jika Anda berbicara bahasa Inggris, berbasis di AS dan membutuhkan bantuan di tengah malam, maka kami akan menghubungkan Anda ke relawan berbahasa Inggris di Inggris atau Australia, yang zona waktunya siang hari. Jaringan sukarelawan kami begitu besar sehingga tidak masalah bila Anda menelepon pada saat tengah malam, karena hampir semua ada sukarelawan yang dapat berbicara dalam bahasa Anda.
      
      section
          p1.bullet Di bawah ini Anda bisa membaca beberapa testimonial dari beberapa sukarelawan :

          br
          ul
            li "Perasaan kegunaan saat Anda menjawab panggilan dan bisa berhasil membantu seseorang tidak bisa dijelaskan. Saya selalu menantikan yang berikutnya. "
            li "Saya sangat senang telah membantu. Terimakasih untuk aplikasi ini, terimakasih telah membantu orang-orang yang tidak melihat dengan baik dan terimakasih telah memberi saya momen kegembiraan ini, sangat menyenangkan rasanya ... " 

      section
          br
          ul
            li "Saya hanya membantu untuk pertama kalinya dan lebih dari senang! Ini luar biasa untuk bisa menjadi mata seseorang pada saat dibutuhkan! Terima kasih atas kesempatan untuk membantu! " 
            li "Kesempatan pertamaku untuk membantu berjalan dengan baik. Betapa cara bagus untuk menghubungkan orang.Terima kasih telah membuat hariku lebih baik. Saya sangat menyukai aplikasii ini karena sangat mudah untuk membantu orang lain. Saya berharap bisa lebih banyak kesempatan membantu. "
            li "Saya sangat senang bisa membantu seseorang dalam beberapa jam setelah menginstal dan mendaftar ke aplikasi. Sungguh suatu pengalaman yang luar biasa untuk bisa menolong seseorang. "

      section
          p1.bullet Di bawah ini Anda dapat membaca beberapa testimonial dari beberapa pengguna yang mengalami gangguan penglihatan dan yang tuna netra:

          br
          ul
            li "Saya tidak tahu apa yang akan saya lakukan tanpa aplikasi ini. Ini telah menjadi penyelamat bagiku. "
            li "Saya sudah punya aplikasi lebih dari setahun. Saya ingin memberi Anda beberapa contoh cara saya menggunakan aplikasi ini, relawan Be My Eyes telah menemukan item yang terjatuh di lantai atau permukaan tempat kerja. Relawan telah menggambarkan warna, dan tanda pada tablet obat. Relawan telah membantu menemukan halaman tertentu dalam buku. Sukarelawan telah membaca setting pada mesin cuci dan pengering digital. Sukarelawan telah melihat-lihat katalog dengan saya, dan membaca deskripsi barang, dan harga. Sukarelawan telah mengidentifikasi CD dan membantu menyortirnya dengan saya. Tapi, Mata Saya telah menjadi bagian berharga dalam hidup saya. Mungkin hal yang sangat saya syukuri adalah kemampuan untuk meminta bantuan yang terlihat dengan hal-hal yang bisa dianggap tidak penting. "
            
      section        
          br
          ul
            li "Saya bersyukur untuk semua sukarelawan yang mau meluangkan waktu mereka untuk membantu saya dengan sangat baik dan sabar terhadap saya. "

      section
          <img style="width: 640px;" alt="Be My Eyes" src="images/4.png">
      

      section
          <img style="width: 640px;" alt="Be My Eyes" src="images/2.png">

    script(src='build/build.js')