doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title .:TKPPL:.

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Be My Eyes
        p1-

      section
        h2-
        p1 Perusahaan pengembang aplikasi Robocat asal Denmark, membuat sebuah aplikasi bernama Be My Eyes yang seakan menjadi mata bagi para penyandang tunanetra. 

        Aplikasi ini didistribusikan secara gratis untuk iPhone dan iPad. Ia akan jadi penghubung antara tunanetra yang butuh bantuan dan relawan yang hendak membantu tunanetra. Mereka akan dihubungkan melalui unsur video dan audio yang dimanfaatkan pada aplikasi ini.

      section
        p1 Ya, penggunaan aplikasi ini membutuhkan seorang relawan yang bersedia membantu si penderita.

      section
        p1 Seorang tunanetra terlebih dahulu harus membuka aplikasi Be My Eyes di perangkat iOS mereka. Kemudian, ia mengetuk layar ponsel sebanyak dua kali dengan jarinya untuk menghubungkannya dengan relawan yang bersedia.

        Mungkin butuh waktu cukup lama untuk menemukan seorang relawan. Tapi menurut Robocat, saat ini mereka telah memiliki 700 relawan di Denmark dalam beberapa bulan di tahap uji coba.


      section
        p1 Seorang tunanetra terlebih dahulu harus membuka aplikasi Be My Eyes di perangkat iOS mereka. Kemudian, ia mengetuk layar ponsel sebanyak dua kali dengan jarinya untuk menghubungkannya dengan relawan yang bersedia.

        Mungkin butuh waktu cukup lama untuk menemukan seorang relawan. Tapi menurut Robocat, saat ini mereka telah memiliki 700 relawan di Denmark dalam beberapa bulan di tahap uji coba.


      section
        p1 "Kami meluncurkan ini secara lokal di Denmark dalam beberapa bulan. Kini kami memiliki sekitar 700 relawan," ujar Willi Wu, selaku pengembang aplikasi Be My Eyes seperti dikutip dari GigaOm.

        Ketika sudah ada relawan yang ingin membantu, maka tunanetra mulai bisa memposisikan kamera belakang ponsel mereka ke depan, seakan menjadi sepasang mata. Dengan koneksi internet, relawan bisa melihat dari jarak jauh apa yang ditangkap oleh kamera belakang ponsel dan tunanetra dapat mendengarkan penjelasan berupa audio.


      section
        p1 Pengguna atau relawan dapat mendaftarkan diri di Be My Eyes dengan akun Facebook atau email. Aplikasi ini akan memberi notifikasi kepada relawan jika ada seorang tunanetra yang butuh bantuan.

        Jika relawan menolak memberi bantuan pada saat itu, relawan lain akan menerima notifikasi, untuk memastikan bahwa Anda tidak meninggalkan seorang diri tunanetra yang butuh bantuan.

        Relawan yang memberi bantuan akan mendapatkan poin dan bakal terpampang pada profil pengguna.


      section
        p1 Wu mengatakan Apple mendukung manfaat aplikasi ini dan tengah berencana untuk mempromosikan aplikasi ini melalui App Store agar mendapat lebih banyak relawan. "Kami juga berusaha mendapatkan promosi dari mulut ke mulut agar mereka tahu manfaat dari aplikasi ini," lanjut Wu.

        Aplikasi bantuan untuk tunanetra seperti ini bukanlah yang pertama dikembangkan. Sebelumnya sebuah aplikasi serupa bernama KNFB Reader didistribusikan oleh Apple untuk membantu penyandang tunanetra. Namun aplikasi ini hanya sebatas pembaca tulisan, bukan untuk melihat keadaan lingkungan sekitar.


      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')